body{
    position: relative;
    padding: 0px auto;
    font: 20px sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
/* top part nav of page */
.dropImg{
    height: 60px;
    width: 10%;
}
.burgermenu{
    height: 40px;
    width: 40px;
    padding: 9px;
    
    cursor: pointer;
}
.burgermenu:nth-child(1){display:none;}
.navDropdown{
    position: relative;
    width: 90vw;
    padding: 0px auto;
    margin: 0px auto;
}
.iside{
    position: fixed;
    height: fit-content;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 200px;
    right: 0px;
    border-radius: 6px 0px 0px 6px;
    background-color: rgba(255, 254, 254, 0.548);
}
.dropdown{justify-content: center;}

.ghostdiv1{visibility: hidden;}

.ghostdiv2{display: none;}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0px;
    width: 80vw;
}
li{
    padding-left: 15px;
}
a{
    text-decoration: none;
    color: rgb(218, 90, 31);
    font-size: 1.8em;
}
a:hover{
    color:rgb(138, 64, 11);
    text-decoration: underline;
}
header{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 6px auto;
    top:0;
    width: 100vw;
    z-index: 4;
}
.headerimgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* banner section                       */

.firstSection{
    margin-top: 68px;
}
.bannerMod{
    background-image: url(https://static.vecteezy.com/system/resources/previews/026/466/922/large_2x/cup-of-coffee-espresso-beans-web-banner-with-copy-space-generative-ai-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90vh;
    width: 100vw;
    z-index: -2;
}
.bannerTxt{
    color: chocolate;
    font-size: 2.5em;
    font-weight: 900;
    z-index: 3;
    position: relative;
    padding-top: 30px;
    left: 50px;
}
.bannerBtn{
    background-color: chocolate;
    color: white;
    font-size: 1.5em;
    font-weight: 750;
    border: none;
    border-radius: 6px;
    position: relative;
    margin-top: 20px;
    left: 60px;
    height: 70px;
    width: fit-content;
}

/* mid content section  */

.innerSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.coffeeImg{
    height: 120px;
    width: 160px;
}
.secondSection{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 20px;
    margin-top: 20px;
}
.h2 {
    color: gold;
}
.sectionDiv{
    height: min-content;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 40px 2px;
}
.coffeeTile{
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: 4px 4px 6px rgba(210, 105, 30, 0.281);
    border-radius: 7px;
    position: relative;
    height: fit-content;
    margin: 5px 10px;
    padding: 10px;
    width: 23vw;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.thirdSection{
    width: 100vw;
    height: fit-content;
    background-color: chocolate;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 20px;
    padding: 20px 0px;
    margin: 15px 0px;
}
.paragraph2{
    position: relative;
    height: auto;
    width: 65%;
    line-height: 1.6;
    font-size: larger;
}
.coffeePlantation{
    width: 65%;
    border-radius: 5px;
}
.fourthsection{
    width: 100vw;
    height: 580px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    text-align: center;
    padding: 60px 20px;
}
.starsImg{
    height: 30px;
    width: 150px;
}
.reviewImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.reviewSection{
    padding: 50px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* footer section */
  
.footer{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 10px;
    margin-top: 20px;
}
.logoContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
}
.logoFooter{
    background-color: white;
    border-radius: 10px;
    height: 80px;
    width: 300px;
    padding: 0px 10px;
} 
h6{
    position: absolute;
    bottom: 0;
}
.footerSignup{
    text-align: left;
}
.footerLinks{
    font-size: medium;
}
@media (max-width: 900px){
    
    .logo{
        width: 55%;
    }
    .dropImg{
        width: auto;
        height: 50px;
    }
    .burgermenu:nth-child(1){display:none;}
    .burgermenu{
         width: auto; height: 30px;
    }
    .ghostdiv{
    visibility: hidden;
    width: 70%;
    }
    a{
        font-size: 1.1em;
    }
    ul{
        padding: 0px auto;
    }
    .reviewSection{
        flex-direction: column;
        z-index: 2;
    }
    .fourthsection{
        height: fit-content;
        z-index: -1;
    }
    .sectionDiv{
        flex-direction: column;
        align-items: center;
    }
    .coffeeTile{
        width: 80vw;
        margin: 10px 0px;
    }
    footer{
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
}
@media (max-width: 600px){
    .navDropdown{
        display: flex;
        flex-direction: row-reverse;
        
        width: auto;
    }
    .dropdown{
        display: none;
    }
    .bm:hover .dropdown{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0px;
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid gray;
        border-radius: 5px;
        padding: 10px;
        z-index: 5;
    }
    .burgermenu:nth-child(1){display:inline;}
    .burgermenu{
         width: auto; height: 30px;
    }
    .dropImg{
        width: auto;
        height: 40px;
    }
    .ghostdiv2{
        display: block;
        visibility: hidden;
        width: 70%;
    }
    .side{
        position: relative;
        flex-direction: row;
        width: 80vw;
        top: auto;
        background-color: transparent;
    }
    .paragraph2{width: 80%;}

    .coffeePlantation{width: 80%;}
}