body{
    padding: 0px auto;
    font: 20px sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* top part nav of page */

header{
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 10px 16px 10px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    top: 0;
    z-index: 1;
}
.logo{
    
    position: relative;
    top: 22px;
    padding: 0;
    margin: 0;
    height: 80px;
    width: 300px;
    
}
ul{
    align-content: center;
    
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    font: 1.6em sans-serif;
}
li{
    
    display: inline;
    padding: 10px 6px 0px 0px;
}
a{
    text-decoration: none;
    color: chocolate;
}
a:hover{
    text-decoration: underline;
    color: rgb(112, 48, 3);
}
.navbtn{
    background-color: chocolate;
    border: none;
    color: white;
    font: 17px sans-serif;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}
.navbtn:hover{
    background-color: rgb(197, 92, 16);
    cursor: pointer;
}
.navDropdown{
    z-index: -1;
    height: 60px;
    width: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 15px
}
.dropImg{
    display: none;
    width: 140px;
    height: 65px;
}
.dropdown{
    display: none;
    height: max-content;
    width: 160px;
    text-align: left;
    line-height: 1.5;
    padding-right: 20px;
    top: 56px;
    left: -20px;
    background-color: white;
}
.navDropdown:hover .dropdown{
    display: block;
    position: absolute;
    border-radius: 5px;
    z-index: 1;
}


.firstSection{
    margin-top: 110px;
}
.bannerMod{
    background-image: url(Untitled.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90vh;
    width: 100vw;
    z-index: -2;
}
.bannerTxt{
    color: chocolate;
    font-size: 2.5em;
    font-weight: 900;
    z-index: 3;
    position: relative;
    padding-top: 30px;
    left: 50px;
}
.bannerBtn{
    background-color: chocolate;
    color: white;
    font-size: 1.5em;
    font-weight: 750;
    border: none;
    border-radius: 6px;
    position: relative;
    margin-top: 20px;
    left: 60px;
    height: 70px;
    width: fit-content;
}

/* mid content section  */

.innerSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.coffeeImg{
    height: 120px;
    width: 160px;
}
.secondSection{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 20px;
    margin-top: 20px;
}
.h2 {
    color: gold;
}
.sectionDiv{
    height: min-content;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 40px 2px;
}
.coffeeTile{
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: 4px 4px 6px rgba(210, 105, 30, 0.281);
    border-radius: 7px;
    position: relative;
    height: fit-content;
    margin: 5px 10px;
    padding: 10px;
    width: 23vw;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.thirdSection{
    width: 100vw;
    height: fit-content;
    background-color: chocolate;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 20px;
    padding: 20px 0px;
    margin: 15px 0px;
}
.paragraph2{
    position: relative;
    height: auto;
    width: 65%;
    line-height: 1.6;
    font-size: larger;
}
.coffeePlantation{
    width: 65%;
}
.fourthsection{
    width: 100vw;
    height: 580px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    text-align: center;
    padding: 60px 20px;
}
.starsImg{
    height: 30px;
    width: 150px;
}
.reviewImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.reviewSection{
    padding: 50px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* footer section */
  
.footer{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 10px;
    margin-top: 20px;
}
.logoContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
}
.logoFooter{
    background-color: white;
    border-radius: 10px;
    height: 80px;
    width: 300px;
    padding: 0px 10px;
} 
h6{
    position: absolute;
    bottom: 0;
}
.footerSignup{
    text-align: left;
}
.footerLinks{
    font-size: medium;
}
@media (max-width: 900px){
    .navLinks{ display: none; }
    .navDropdown{
        z-index: 2;
        width: 100px;
        height: 100px;
    }
    .logo{
        position: relative;
        left: -70px;
    }
    .dropImg{
        position: relative;
        right: -70px;
        display: block;
    }
    .reviewSection{
        flex-direction: column;
        z-index: 2;
    }
    .fourthsection{
        height: fit-content;
        z-index: -1;
    }
    .sectionDiv{
        flex-direction: column;
        align-items: center;
    }
    .coffeeTile{
        width: 80vw;
        margin: 10px 0px;
    }
    footer{
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
}